# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.o

cpp/build/
cpp/bin/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
#*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
.vscode/
mini-cheetah-logs/lcmlog-2021-02-21-1-lcmfail.mat
mini-cheetah-logs/lcmlog-2021-02-21-2-powerfail.mat
mini-cheetah-logs/lcmlog-2021-02-21-3-leftcircle.mat
mini-cheetah-logs/lcmlog-2021-02-21-4-rightcircle.mat
mini-cheetah-logs/lcmlog-2021-02-21-5-short.mat
mini-cheetah-logs/lcmlog-2021-02-21-6-difficult-slippery.mat
*.asv
*.db
slprj/_jitprj/jitEngineAccessInfo.mat
slprj/_jitprj/sB6uji1O690BA8KsFRenR6.l
slprj/_jitprj/sB6uji1O690BA8KsFRenR6.mat
slprj/_jitprj/sEOtlIGuPRFWN4LnHiE9qSH.l
slprj/_jitprj/sEOtlIGuPRFWN4LnHiE9qSH.mat
slprj/_jitprj/sMTsoojGSyCtJ0L9xUKwvvC.l
slprj/_jitprj/sMTsoojGSyCtJ0L9xUKwvvC.mat
slprj/_jitprj/sn8Hxet8VTMlXDY787tut4C.l
slprj/_jitprj/sn8Hxet8VTMlXDY787tut4C.mat
slprj/_jitprj/svl6xmCqzTNtut1hI5JMgIG.l
slprj/_jitprj/svl6xmCqzTNtut1hI5JMgIG.mat
slprj/_jitprj/sW4K4J35xUpHmfBlTDwXKrD.l
slprj/_jitprj/sW4K4J35xUpHmfBlTDwXKrD.mat
slprj/_jitprj/sYmtdwg6et3zfSId62rOB3F.l
slprj/_jitprj/sYmtdwg6et3zfSId62rOB3F.mat
slprj/_sfprj/EMLReport/eMHyeqnFxqH0mr2g5Dtil.mat
slprj/_sfprj/EMLReport/emlReportAccessInfo.mat
slprj/_sfprj/EMLReport/sB6uji1O690BA8KsFRenR6.mat
slprj/_sfprj/EMLReport/sEOtlIGuPRFWN4LnHiE9qSH.mat
slprj/_sfprj/EMLReport/sMTsoojGSyCtJ0L9xUKwvvC.mat
slprj/_sfprj/EMLReport/sn8Hxet8VTMlXDY787tut4C.mat
slprj/_sfprj/EMLReport/svl6xmCqzTNtut1hI5JMgIG.mat
slprj/_sfprj/EMLReport/sW4K4J35xUpHmfBlTDwXKrD.mat
slprj/_sfprj/EMLReport/sYmtdwg6et3zfSId62rOB3F.mat
slprj/_sfprj/leg_simulator/_self/sfun/info/binfo.mat
slprj/_sfprj/leg_simulator/amsi_serial.mat
slprj/_sfprj/precompile/1R1zlK6Gqc6XkslexR23EE.mat
slprj/_sfprj/precompile/a5T3vDfghggWNdFKKwlOcC.mat
slprj/_sfprj/precompile/autoInferAccessInfo.mat
slprj/_sfprj/precompile/Efhbgf0vnTrGEmEar2To7F.mat
slprj/_sfprj/precompile/FbuhBavgmu3EADprIniVuD.mat
slprj/_sfprj/precompile/h7TKvgN1AH7ZBJzdLbGy8B.mat
slprj/_sfprj/precompile/PJUQx4i0y7zqxKjPyxz5WG.mat
slprj/_sfprj/precompile/PkizErNq7WWKNjZtrYhL5C.mat
slprj/_sfprj/precompile/RfYaJ938ucn34RycWocyDE.mat
slprj/_sfprj/RotaryPendulum_SLdemo/_self/sfun/info/binfo.mat
slprj/_sfprj/RotaryPendulum_SLdemo/amsi_serial.mat
